@model List<InventoryManagementApp.Models.InventoryItem>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>String 1</th>
            <th>String 2</th>
            <th>String 3</th>
            <th>Int 1</th>
            <th>Int 2</th>
            <th>Int 3</th>
            <th>Bool 1</th>
            <th>Bool 2</th>
            <th>Bool 3</th>
            <th>Multiline 1</th>
            <th>Multiline 2</th>
            <th>Multiline 3</th>
            <th>Link 1</th>
            <th>Link 2</th>
            <th>Link 3</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Count; i++)
        {
            <tr>
                <td>@(i + 1)</td>
                <td>@Model[i].CustomString1Value</td>
                <td>@Model[i].CustomString2Value</td>
                <td>@Model[i].CustomString3Value</td>
                <td>@Model[i].CustomInt1Value</td>
                <td>@Model[i].CustomInt2Value</td>
                <td>@Model[i].CustomInt3Value</td>
                <td>@(Model[i].CustomBool1Value == true ? "Yes" : "No")</td>
                <td>@(Model[i].CustomBool2Value == true ? "Yes" : "No")</td>
                <td>@(Model[i].CustomBool3Value == true ? "Yes" : "No")</td>
                <td>@Model[i].CustomMultiline1Value</td>
                <td>@Model[i].CustomMultiline2Value</td>
                <td>@Model[i].CustomMultiline3Value</td>
                <td>@Model[i].CustomLink1Value</td>
                <td>@Model[i].CustomLink2Value</td>
                <td>@Model[i].CustomLink3Value</td>
            </tr>
        }
    </tbody>
</table>
