@model InventoryManagementApp.ViewModels.InventoryViewModels.AddItemViewModel
@{
    var structure = ViewBag.Structure as InventoryManagementApp.ViewModels.InventoryViewModels.InventoryCreateViewModel;
}

@if (structure != null)
{
    <form asp-action="AddItem" method="post">
        @Html.AntiForgeryToken()
        <input type="hidden" name="InventoryId" value="@Model.InventoryId" />

        <table class="table">
            <thead>
                <tr>
                    @if (structure.CustomString1State)
                    {
                        <th>@structure.CustomString1Name</th>
                    }
                    @if (structure.CustomString2State)
                    {
                        <th>@structure.CustomString2Name</th>
                    }
                    @if (structure.CustomString3State)
                    {
                        <th>@structure.CustomString3Name</th>
                    }
                    @if (structure.CustomInt1State)
                    {
                        <th>@structure.CustomInt1Name</th>
                    }
                    @if (structure.CustomInt2State)
                    {
                        <th>@structure.CustomInt2Name</th>
                    }
                    @if (structure.CustomInt3State)
                    {
                        <th>@structure.CustomInt3Name</th>
                    }
                    @if (structure.CustomBool1State)
                    {
                        <th>@structure.CustomBool1Name</th>
                    }
                    @if (structure.CustomBool2State)
                    {
                        <th>@structure.CustomBool2Name</th>
                    }
                    @if (structure.CustomBool3State)
                    {
                        <th>@structure.CustomBool3Name</th>
                    }
                    @if (structure.CustomMultiline1State)
                    {
                        <th>@structure.CustomMultiline1Name</th>
                    }
                    @if (structure.CustomMultiline2State)
                    {
                        <th>@structure.CustomMultiline2Name</th>
                    }
                    @if (structure.CustomMultiline3State)
                    {
                        <th>@structure.CustomMultiline3Name</th>
                    }
                    @if (structure.CustomLink1State)
                    {
                        <th>@structure.CustomLink1Name</th>
                    }
                    @if (structure.CustomLink2State)
                    {
                        <th>@structure.CustomLink2Name</th>
                    }
                    @if (structure.CustomLink3State)
                    {
                        <th>@structure.CustomLink3Name</th>
                    }
                </tr>
            </thead>
            <tbody>
                <tr>
                    @if (structure.CustomString1State)
                    {
                        <td><input type="text" name="CustomString1Value" class="form-control" /></td>
                    }
                    @if (structure.CustomString2State)
                    {
                        <td><input type="text" name="CustomString2Value" class="form-control" /></td>
                    }
                    @if (structure.CustomString3State)
                    {
                        <td><input type="text" name="CustomString3Value" class="form-control" /></td>
                    }

                    @if (structure.CustomInt1State)
                    {
                        <td><input type="number" name="CustomInt1Value" class="form-control" /></td>
                    }
                    @if (structure.CustomInt2State)
                    {
                        <td><input type="number" name="CustomInt2Value" class="form-control" /></td>
                    }
                    @if (structure.CustomInt3State)
                    {
                        <td><input type="number" name="CustomInt3Value" class="form-control" /></td>
                    }

                    @if (structure.CustomBool1State)
                    {
                        <td><input type="checkbox" name="CustomBool1Value" /></td>
                    }
                    @if (structure.CustomBool2State)
                    {
                        <td><input type="checkbox" name="CustomBool2Value" /></td>
                    }
                    @if (structure.CustomBool3State)
                    {
                        <td><input type="checkbox" name="CustomBool3Value" /></td>
                    }

                    @if (structure.CustomMultiline1State)
                    {
                        <td><textarea name="CustomMultiline1Value" class="form-control"></textarea></td>
                    }
                    @if (structure.CustomMultiline2State)
                    {
                        <td><textarea name="CustomMultiline2Value" class="form-control"></textarea></td>
                    }
                    @if (structure.CustomMultiline3State)
                    {
                        <td><textarea name="CustomMultiline3Value" class="form-control"></textarea></td>
                    }

                    @if (structure.CustomLink1State)
                    {
                        <td><input type="text" name="CustomLink1Value" class="form-control" /></td>
                    }
                    @if (structure.CustomLink2State)
                    {
                        <td><input type="text" name="CustomLink2Value" class="form-control" /></td>
                    }
                    @if (structure.CustomLink3State)
                    {
                        <td><input type="text" name="CustomLink3Value" class="form-control" /></td>
                    }
                </tr>
            </tbody>
        </table>

        <button type="submit" class="btn btn-primary">Add Item</button>
    </form>
}
else
{
    <p>Please save the inventory first to add items.</p>
}
