@model InventoryManagementApp.ViewModels.Inventory.InventoryItemsViewModel

<h4>Items</h4>
<hr />

<!-- Существующие элементы -->
@if (Model.Items.Any())
{
    <table class="table table-bordered table-sm">
        <thead>
            <tr>
                @if (Model.Inventory.CustomString1State)
                {
                    <th>@Model.Inventory.CustomString1Name</th>
                }
                @if (Model.Inventory.CustomString2State)
                {
                    <th>@Model.Inventory.CustomString2Name</th>
                }
                @if (Model.Inventory.CustomString3State)
                {
                    <th>@Model.Inventory.CustomString3Name</th>
                }

                @if (Model.Inventory.CustomInt1State)
                {
                    <th>@Model.Inventory.CustomInt1Name</th>
                }
                @if (Model.Inventory.CustomInt2State)
                {
                    <th>@Model.Inventory.CustomInt2Name</th>
                }
                @if (Model.Inventory.CustomInt3State)
                {
                    <th>@Model.Inventory.CustomInt3Name</th>
                }

                @if (Model.Inventory.CustomBool1State)
                {
                    <th>@Model.Inventory.CustomBool1Name</th>
                }
                @if (Model.Inventory.CustomBool2State)
                {
                    <th>@Model.Inventory.CustomBool2Name</th>
                }
                @if (Model.Inventory.CustomBool3State)
                {
                    <th>@Model.Inventory.CustomBool3Name</th>
                }

                @if (Model.Inventory.CustomMultiline1State)
                {
                    <th>@Model.Inventory.CustomMultiline1Name</th>
                }
                @if (Model.Inventory.CustomMultiline2State)
                {
                    <th>@Model.Inventory.CustomMultiline2Name</th>
                }
                @if (Model.Inventory.CustomMultiline3State)
                {
                    <th>@Model.Inventory.CustomMultiline3Name</th>
                }

                @if (Model.Inventory.CustomLink1State)
                {
                    <th>@Model.Inventory.CustomLink1Name</th>
                }
                @if (Model.Inventory.CustomLink2State)
                {
                    <th>@Model.Inventory.CustomLink2Name</th>
                }
                @if (Model.Inventory.CustomLink3State)
                {
                    <th>@Model.Inventory.CustomLink3Name</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                <tr>
                    @if (Model.Inventory.CustomString1State)
                    {
                        <td>@item.CustomString1Value</td>
                    }
                    @if (Model.Inventory.CustomString2State)
                    {
                        <td>@item.CustomString2Value</td>
                    }
                    @if (Model.Inventory.CustomString3State)
                    {
                        <td>@item.CustomString3Value</td>
                    }

                    @if (Model.Inventory.CustomInt1State)
                    {
                        <td>@item.CustomInt1Value</td>
                    }
                    @if (Model.Inventory.CustomInt2State)
                    {
                        <td>@item.CustomInt2Value</td>
                    }
                    @if (Model.Inventory.CustomInt3State)
                    {
                        <td>@item.CustomInt3Value</td>
                    }

                    @if (Model.Inventory.CustomBool1State)
                    {
                        <td>@item.CustomBool1Value</td>
                    }
                    @if (Model.Inventory.CustomBool2State)
                    {
                        <td>@item.CustomBool2Value</td>
                    }
                    @if (Model.Inventory.CustomBool3State)
                    {
                        <td>@item.CustomBool3Value</td>
                    }

                    @if (Model.Inventory.CustomMultiline1State)
                    {
                        <td>@item.CustomMultiline1Value</td>
                    }
                    @if (Model.Inventory.CustomMultiline2State)
                    {
                        <td>@item.CustomMultiline2Value</td>
                    }
                    @if (Model.Inventory.CustomMultiline3State)
                    {
                        <td>@item.CustomMultiline3Value</td>
                    }

                    @if (Model.Inventory.CustomLink1State)
                    {
                        <td>@item.CustomLink1Value</td>
                    }
                    @if (Model.Inventory.CustomLink2State)
                    {
                        <td>@item.CustomLink2Value</td>
                    }
                    @if (Model.Inventory.CustomLink3State)
                    {
                        <td>@item.CustomLink3Value</td>
                    }
                </tr>
            }
        </tbody>
    </table>
}

<!-- Добавление нового Item -->
<form asp-action="AddItem" asp-controller="Inventory" method="post">
    <input type="hidden" name="InventoryId" value="@Model.Inventory.Id" />

    <div class="table-responsive">
        <table class="table table-sm">
            <tr>
                @if (Model.Inventory.CustomString1State)
                {
                    <td><input class="form-control" name="CustomString1Value" /></td>
                }
                @if (Model.Inventory.CustomString2State)
                {
                    <td><input class="form-control" name="CustomString2Value" /></td>
                }
                @if (Model.Inventory.CustomString3State)
                {
                    <td><input class="form-control" name="CustomString3Value" /></td>
                }

                @if (Model.Inventory.CustomInt1State)
                {
                    <td><input type="number" class="form-control" name="CustomInt1Value" /></td>
                }
                @if (Model.Inventory.CustomInt2State)
                {
                    <td><input type="number" class="form-control" name="CustomInt2Value" /></td>
                }
                @if (Model.Inventory.CustomInt3State)
                {
                    <td><input type="number" class="form-control" name="CustomInt3Value" /></td>
                }

                @if (Model.Inventory.CustomBool1State)
                {
                    <td><input type="checkbox" name="CustomBool1Value" /></td>
                }
                @if (Model.Inventory.CustomBool2State)
                {
                    <td><input type="checkbox" name="CustomBool2Value" /></td>
                }
                @if (Model.Inventory.CustomBool3State)
                {
                    <td><input type="checkbox" name="CustomBool3Value" /></td>
                }

                @if (Model.Inventory.CustomMultiline1State)
                {
                    <td><textarea class="form-control" name="CustomMultiline1Value"></textarea></td>
                }
                @if (Model.Inventory.CustomMultiline2State)
                {
                    <td><textarea class="form-control" name="CustomMultiline2Value"></textarea></td>
                }
                @if (Model.Inventory.CustomMultiline3State)
                {
                    <td><textarea class="form-control" name="CustomMultiline3Value"></textarea></td>
                }

                @if (Model.Inventory.CustomLink1State)
                {
                    <td><input class="form-control" name="CustomLink1Value" /></td>
                }
                @if (Model.Inventory.CustomLink2State)
                {
                    <td><input class="form-control" name="CustomLink2Value" /></td>
                }
                @if (Model.Inventory.CustomLink3State)
                {
                    <td><input class="form-control" name="CustomLink3Value" /></td>
                }

                <td>
                    <button type="submit" class="btn btn-primary">Add</button>
                </td>
            </tr>
        </table>
    </div>
</form>
